/* .div{
  background-image: url(../../assets/Home.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
} */
.div{
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-size: cover;
  background-image: url(../../assets/Home.jpg);
  display: flex;
  flex-direction: column;
  
}
/* .container{
    background-color: rgb(55, 43, 226);
} */

.countryFail {
    color: red;
    text-shadow: 0 0 80px red, 0 0 30px FireBrick, 0 0 6px rgb(75, 2, 2);
  }

  .title {
    margin-top: 0;
    font-family: Arial;
    letter-spacing: 1px;
    color: #1f4e5f;
    text-shadow: 0 0 5px rgb(8, 0, 122), 0 0 10px  #f4f7f7, 0 0 15px  #f4f7f7,
      0 0 20px #c8d1d2, 0 0 30px #c8d1d2, 0 0 40px  #f4f7f7;
  }
